<!-- {{ expression }} -->
<!-- <p>{{ name }}</p>
<p>{{ user }}</p>
<p>{{ user.name }}</p>
<p>{{ user.age }}</p> -->

<!-- DATA BINDING -->
<!-- <input [type]="inputType" [value]="user.name" /> -->

<!-- EVENT BINDING -->
<!-- <button type="button" (click)="handleClick()">Click</button>

<br /> -->
<!-- 2 WAY BINDING -->
<!-- Để dùng 2 WAY BINDING thì cần thêm FormsModule trong phần import của @NgModule -->
<!-- <input type="text" [(ngModel)]="name" /> -->

<!-- Day3: Data&Event Binding -->
<!-- <app-day3-data-event-binding></app-day3-data-event-binding> -->

<!-- Day4: NgIf -->
<!-- <app-day4-ng-if></app-day4-ng-if> -->

<!-- Day5: NgFor -->
<!-- <app-day5-ng-for></app-day5-ng-for> -->

<!-- Day6: Class&Style Binding -->
<!-- <app-day6-class-style-binding></app-day6-class-style-binding> -->

<!-- Day7: Input Binding -->
<!-- <app-day7-input-binding></app-day7-input-binding> -->

<!-- Day8: Output Binding -->
<!-- <app-day8-output-binding></app-day8-output-binding> -->

<!-- Day9: Custom 2 way binding -->
<app-day9-custom-2-way-binding></app-day9-custom-2-way-binding>
