<header>
  <!-- ng-content có thể sử dụng select giống như css selector -->
  <ng-content select=".toogle-header"></ng-content>
</header>
<div
  class="toggle-wrapper"
  [class.checked]="checked"
  tabindex="0"
  (click)="toggle()"
>
  <div class="toggle"></div>
</div>
<div class="toogle-label">
  <ng-content select="app-label"></ng-content>
</div>

<!-- nếu ng-content ko select gì như TH dưới thì nó sẽ lấy tất cả những gì còn lại -->
<div class="toggle-content">
  <ng-content></ng-content>
</div>
